---
import ProjectCard from '../components/ProjectCard.astro'
import posts from '../data/posts.json'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Demborg.se</title>
	</head>
 <body>
    <h1>My Work</h1>
    <div class="project-grid">
      {posts.map(post => (
        <ProjectCard 
		  id={post.title}
          title={post.title} 
          intro={post.intro} 
        />
      ))}
    </div>
  </body>
</html>
