---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const allProjects = (await getCollection("projects")).sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Layout title="Demborg.se">
	<div class="grid-layout">
		{allProjects.map((p) => <ProjectCard project={p} />)}
	</div>
</Layout>

<style>
	.grid-layout {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: var(--pico-spacing);
	}
</style>
