---
import BaseLayout from '../components/BaseLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import posts from '../data/new_posts.json'
---
<BaseLayout>
    <div class="project-grid">
      {posts.map(post => (
        <ProjectCard 
          title={post.title} 
          intro={post.intro} 
		  links={post.links}
		  content={post.content}
        />
      ))}
    </div>
</BaseLayout>

<style>
  .project-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    gap: 1.5rem;
    padding: 1.5rem;
  }
</style>