---
import BaseLayout from '../components/BaseLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import posts from '../data/posts.json'
---
<BaseLayout>
    <h1>My Work</h1>
    <div class="project-grid">
      {posts.map(post => (
        <ProjectCard 
		  id={post.title}
          title={post.title} 
          intro={post.intro} 
        />
      ))}
    </div>
</BaseLayout>