---
import BaseLayout from '../components/BaseLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import posts from '../data/new_posts.json'
---
<BaseLayout>
    <h1>Demborg.se</h1>
    <div class="project-grid">
      {posts.map(post => (
        <ProjectCard 
          title={post.title} 
          intro={post.intro} 
		  links={post.links}
		  content={post.content}
        />
      ))}
    </div>
</BaseLayout>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem; /* You can adjust this value */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
</style>