---
import BaseLayout from '../components/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import old_posts from '../data/posts.json';
import new_posts from '../data/new_posts.json';

const posts = [...new_posts, ...old_posts.map(post => {
    const {images, video, iframe, ...rest} = post;
    if (images && images.length) {
        return {...rest, content: {kind: "images", images}};
    }
    if (video) {
        return {...rest, content: {kind: "video", video}};
    }
    if (iframe) {
        return {...rest, content: {kind: "iframe", url: iframe}};
    }
    return {...rest, content: {kind: "images", images: []}};
})];
---
<BaseLayout>
    <h1>Demborg.se</h1>
    <div class="project-grid">
      {posts.map(post => (
        <ProjectCard 
          content={post.content}            intro={post.intro}      links={post.links}     title={post.title}
        />
      ))}
    </div>
</BaseLayout>