---
import Head from '../components/Head.astro';
import Header from './Header.astro'

---
<html lang="en">
  <head>
    <Head/>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    </body>
</html>