---
import Head from '../components/Head.astro';

---
<html lang="en">
  <head>
    <Head/>

    <link href="/src/styles/global.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <slot />
    </main>
    </body>
</html>