---
import { Font } from 'astro:assets';
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Demborg.se</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="generator" content={Astro.generator} />

<Font cssVariable="--font-roboto-slab" preload />
<Font cssVariable="--font-great-vibes" preload />