---
export interface Props {
    url: string
    text: string
}

const {url, text} = Astro.props
---

<div>
    <a href={url}>{text}</a>
</div>

<style>
    a {
        background-color: var(--color-bg-light);
        /* border: 2px solid; */
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
        color: var(--color-text);
        box-shadow: ;
    }
    a:hover {
        color: var(--color-accent)
    }
</style>