---
import BaseLayout from '../../components/BaseLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import posts_data from '../../data/posts.json';

const posts = posts_data.map(post => {
    const {images, video, iframe, ...rest} = post;
    if (images && images.length) {
        return {...rest, content: {kind: "images", images}};
    }
    if (video) {
        return {...rest, content: {kind: "video", video}};
    }
    if (iframe) {
        return {...rest, content: {kind: "iframe", url: iframe}};
    }
    return {...rest, content: {kind: "images", images: []}};
});

export async function getStaticPaths() {
  return posts.map(post => {
    return {
      params: { id: post.title },
      props: { post: post }
    };
  });
}

const { post } = Astro.props;
---
<BaseLayout>
    <a href="/">&larr; Back to all projects</a>
    <ProjectCard
        content={post.content}          intro={post.intro}          links={post.links}         title={post.title}
    />
</BaseLayout>