.Card {
    transition: transform 2s;
    width: 100%
}

.Card:hover {
    transform-origin: center;
    transform: scale(1.15);
}

.Text {
    max-height: 0;
    transition: all 2s;
    opacity: 0;
}

.Card:hover > .Stuff > .Text {
    max-height: 10rem;
    opacity: 1;
}